@import url('./reset.css');
@import url('./fonts.css');

@import url('./header.css');
@import url('./menu.css');
@import url('./main.css');
@import url('./contact.css');
@import url('./footer.css');
@import url('./revue.css');
@import url('./login.css');
@import url('./formAjoutADM.css');
@import url('./messageErreur.css');
@import url('./inputBrouillon.css');
@import url('./navAdm.css');
@import url('./media.css');
@import url('./testButton.css');


/* TESTS */
@import url('./revueTest.css');
/* ************* */


:root {
    --bg-primary : rgb(203, 203, 203);
    --bg-active : rgb(255, 251, 243);

    --clr-primary: rgb(28, 44, 95);


    --ff-primary: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    font-family: var(--ff-primary);
    color: var(--clr-primary);
}

h2{
    font-weight:400;
    
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 10px;
}

label{
    margin-left: 5%;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

p, figcaption, .competence-title {
	line-height: 1.2rem;
	font-weight: lighter;
}

::placeholder {
    font-size: 0.9rem;
    font-family: var(--ff-primary);
}

.btn {
	display: block;
	cursor: pointer;
	padding: 10px;
	color: rgb(119, 118, 118);
	text-align: center;
	border: 1px solid rgb(119, 118, 118);
	border-radius: 2px;
}

.btn:hover {
	background-color: gray;
	color: white;
}

.btn-alert:hover {
    background-color: rgba(230, 61, 61, 0.78);
    border-color:  rgba(230, 61, 61, 0.78);
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 60px;
}

.wrap-std {
    width: 90%;
    margin: 0 auto;
}

input, textarea {
	width: 100%;
	padding: 1rem;
	border: none;
	margin-top: 10px;
}

input:not(.btn), textarea {
	box-shadow: inset 0px -2px 0px 0px rgb(51, 51, 51);
}

textarea {
    resize: vertical;
}

.logo {
    display: flex;
}

.logo img {
    height: 60px;
}

input:not(.btn):focus, input:not(.btn):hover, textarea:focus, textarea:hover {
    outline: none;
    box-shadow: inset rgb(51, 51, 51) 0px 0px 0px 2px;
}

input:not(:focus):not(:placeholder-shown):invalid {
    background-color: lightcoral;
}
